<% if @query.blank? %>
  <% content_for :page_title, "all pages" %>
  <% content_for :page_heading do %>
    <h1>all the wiki</h1>
  <% end %>
  <ul class="toc">
<% else %>
  <% content_for :page_title, "search results" %>
  <% content_for :page_heading do %>
    <h1>pages containing "<%= @query %>"</h1>
  <% end %>
  <ul class="results">
<% end %>

  <% @pages.each do |v| %>
    <li>
      <%= "#{v.parent_path}/ " unless v.parent_path.blank? %><%= link_to v.name,   page_path(v) %>
    </li>
  <% end %>
</ul>
