<% content_for :page_title, "changes" %>

<% content_for :page_heading do %>
  <h1>recently changed</h1>
<% end %>

<% content_for :page_meta do %>
  <%= auto_discovery_link_tag :rss, {controller: 'pages', action: 'log'} %>
<% end %>

<%= render partial: 'wiki/updates', locals: {updates: @updates} %>
